.box {
    margin: auto;
    width: 30%;
    border: 2px solid;
    padding: 10px;
    background-color: white;
}
.center {
    text-align: center;

}
.lease {
     margin: auto;
     width: 70%;
     min-height: 360px;
     border: 2px solid;
     padding: 10px;
    background-color: whitesmoke;
}
.stock {
    margin: auto;
    border: 2px solid;
    padding: 10px;
}
button {
    width: 150px;
    border-radius: 15px;
    height: 30px;
    background-color: steelblue;
    color: whitesmoke;
    cursor:pointer;
}
.wheel {
    background-image: url('../car_wheel.png');
    background-color: rgba(211, 211, 211, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}
.a {
    position: absolute;
    top: 75%;
    left: 30%;
}
.b {
    position: absolute;
    top: 20%;
    left: 30%;
}
.c {
    position: absolute;
    top: 33%;
    left: 63%;
}
.d {
    position: absolute;
    top: 63%;
    left: 62%;
}
.inset {
     border-style: inset;
     padding: 2%;
 }
.column {
    float: left;
}
.left {
    width: 35%;
    border: 2px solid;
    padding: 10px;
    background-color: white;
}
.right {
    width: 60%;
    float: right;
    border: 2px solid;
    padding: 10px;
    background-color: white;
}
body {
    background-color: lightgray;
}
.justifyright {
    text-align: right;
}