.box {
    margin: auto;
    width: 30%;
    border: 2px solid;
    padding: 10px;
}
.center {
    text-align: center;

}
.lease {
     margin: auto;
     width: 70%;
     min-height: 400px;
     border: 2px solid;
     padding: 10px;
    background-color: whitesmoke;
}
.stock {
    margin: auto;
    border: 2px solid;
    padding: 10px;
}
button {
    width: 150px;
    border-radius: 15px;
    height: 30px;
    background-color: steelblue;
    color: white;
}
.wheel {
    background-image: url('../car_wheel.png');
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}
.a {
    position: absolute;
    top: 75%;
    left: 30%;
}
.b {
    position: absolute;
    top: 20%;
    left: 30%;
}
.c {
    position: absolute;
    top: 33%;
    left: 61%;
}
.d {
    position: absolute;
    top: 80%;
    left: 57%;
}
.e {
    position: absolute;
    top: 8%;
    left: 1%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
