<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Lease</title>
</head>
<body>
<form name="form" id="data" action="/chooselease" method="POST">
<label for="lease">Lease </label>
<select name="lease" id="lease">
    <option th:each="lease : ${openLeases}" th:value="${lease.getLeaseID()}" th:text="${lease.getLeaseID()}"></option>
</select>
    <button type="submit" onclick="location.href='../createdamagereport'">Create damage report</button>
<br><br>
</form>
</body>
</html>