<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vælg abonnement</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<form name="form" id="data" action="/chooselease" method="POST">
<label for="lease">Vælg abonnement ID </label>
<select name="lease" id="lease">
    <option th:each="lease : ${openLeases}" th:value="${lease.getLeaseID()}" th:text="${lease.getLeaseID()}"></option>
</select>
    <button type="submit" onclick="location.href='../createdamagereport'">Opret skadesrapport</button>
<br><br>
</form>

<div class="footer">
    <p th:replace="fragments/footer"></p>
</div>

</body>
</html>