<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Got data</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<h1>Skadesrapport oprettet til abonnement nr <span th:text="${leaseid}"></span></h1>
<table class="center" style="width:80% ">
    <tr>
        <td style="width:60%"><h4>Beskrivelse</h4></td>
        <td style="width:20%; text-align:right;"><h4>Pris</h4></td>
    </tr>
    <tr th:each="damage : ${listOfDamages}">
        <td th:text="${damage.getDescription()}"></td>
        <td style="text-align:right;" th:text="${damage.getPrice()}"></td>
    </tr>
    <tr>
        <td>Total</td>
        <td style="text-align:right;" th:text="${totalPrice}"></td>
    </tr>

</table>

<div class="footer">
    <p th:replace="fragments/footer"></p>
</div>

</body>
</html>