<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
    <title>Get data</title>
</head>
<body>

<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
    <span th:text="${username.getUserName()}"></span>
    <span>' | Database kilde : </span>
    <span th:text="${source}"></span><
    <span th:replace="fragments/buttons">
    </span>
</div>
<br>

<h1>Formular til skadesrapport</h1>

<div class="row">
    <div class="column left">
        <h2>Udfyld formular</h2>
        <form name="form" id="data" action="/createdamagereport" method="POST">

            <label for="description">Beskrivelse</label><br>
            <input type="text" id="description" name="description" autocomplete="off" required autofocus/>
            <br><br>

            <label for="price">Pris</label><br>
            <input type="number" id="price" name="price" autocomplete="off" required/>
            <br><br>

            <div>
                <button type="submit" onclick="location.href='../createdamagereport'">Tilføj skade til rapport >></button>
                <br><br>
            </div>
        </form>
        <button type="submit" onclick="location.href='../createdamagereportsuccess'">Insend skadesrapport</button>

    </div>
    <div class="column right">
        <table>
            <td><h2>Liste af skader der bliver lagt til abonnement nr.</h2></td>
            <td><h2 th:text="${leaseid}"></h2></td>
        </table>
        <br>

        <table style="width:100%">
            <tr>
                <td style="width:70%"><h4>Description</h4></td>
                <td style="width:20%"><h4>Price</h4></td>
            </tr>
            <tr th:each="damage : ${listOfDamages}">
                <td th:text="${damage.getDescription()}"></td>
                <td th:text="${damage.getPrice()}"></td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <p th:replace="fragments/footer"></p>
    </div>

</div>
</body>
</html>