<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
    <title>Got data</title>
</head>
<body>

<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
    <span th:text="${username.getUserName()}"></span>
    <span>' | Database kilde : </span>
    <span th:text="${source}"></span><
    <span th:replace="fragments/buttons">
    </span>
</div>
<br><br><br>
<div class="stock">
    <table>
        <td><h1>Skadesrapport oprettet til abonnement nr. </h1></td>
        <td><h1 th:text="${leaseid}"></h1></td>
    </table>

    <table class="middle" style="width:80% ">
        <tr>
            <td style="width:60%"><h4>Beskrivelse</h4></td>
            <td style="width:20%; text-align:right;"><h4>Pris</h4></td>
        </tr>
        <tr th:each="damage : ${listOfDamages}">
            <td th:text="${damage.getDescription()}"></td>
            <td style="text-align:right;" th:text="${damage.getPrice()}"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td style="text-align:right;" th:text="${totalPrice}"></td>
        </tr>
    </table>
</div>
<div class="footer">
    <p th:replace="fragments/footer"></p>
</div>

</body>
</html>