<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
    <title>Opret abonnement</title>
</head>
<body>

<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
    <span th:text="${username.getUserName()}"></span>
    <span>' | Database kilde : </span>
    <span th:text="${source}"></span><
    <span th:replace="fragments/buttons">
    </span>
</div>
<br><br><br>

<div class="lease">
    <h2>Opret abonnement</h2>
    <form name="leaseCreation" action="/createlease" method="POST">
    <div style="width: 40%; float: left;">
        <label for="customerID">Vælg kunde:</label><br>
        <select name="customerID" id="customerID">
            <option th:each="c : ${allCustomers}" th:value="${c.costumerID}" th:text="${c.getName()}"></option>
        </select>
        <br>

        <p>Vælg afhentningssted:</p>
        <input type="radio" id="bilabonnement" name="pickup" value="Bilabonnement" checked>
        <label for="bilabonnement">Bilabannoment</label><br>
        <input type="radio" id="fdm" name="pickup" value="FDM">
        <label for="fdm">FDM</label>
        <br><br>

        <label for="startDate">Oprettelsesdato:</label><br>
        <input type="date" id="startDate" name="startDate">
        <br><br>

        <label for="price">Pris:</label><br>
        <input type="number" inputmode="decimal" step="0.01" id="price" name="price">

    </div>
    <div style="width: 60%; float: left;">
        <label for="carID">Vælg bil:</label><br>
        <select name="carID" id="carID">
            <option th:each="car : ${availableCars}" th:value="${car.getCarID()}"
                    th:text="${car.getMake()}+'-'+${car.getModel()}+'-'+${car.getColour()}+'-('+${car.getChassisNumber()}+')'"></option>
        </select>
        <br>

        <p>Vælg abonnement:</p>
        <input type="radio" id="limited" name="abannoment" value="Limited" checked>
        <label for="limited">Limited</label><br>
        <input type="radio" id="Unlimited" name="abannoment" value="Unlimited">
        <label for="unlimited">Unlimited</label><br>
        <br>

        <label for="endDate">Slutdato:</label><br>
        <input type="date" id="endDate" name="endDate">
        <br><br>

        <button type = "submit" onclick="location.href='../createleasesuccess'">Opret</button>

    </div>
    </form>

    <div class="footer">
        <p th:replace="fragments/footer"></p>
    </div>

</div>
</body>
</html>