<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret abonnement</title>
</head>
<body>
<div><br><br><br>
    <h1>Opret abonnement</h1>
    <form name="leaseCreation" action="/createlease" method = "POST">
        <label for="customerID">Vælg kunde:&nbsp</label>
            <select name="customerID" id="customerID">
                <option th:each="c : ${allCustomers}" th:value="${c.getId}" th:text="${c.getName()}"></option>
            </select>

        <label for="carID">Vælg bil:&nbsp</label>
            <select name="carID" id="carID">
                <option th:each="car : ${availableCars}" th:value="${car.getCarID()}" th:text="${car.getMake()}"></option>
            </select>


        <label for="price">Pris</label>
        <input type="number" inputmode="decimal" id="price" name="price" autofocus>
        <label for="startDate">Oprettelsesdato</label>
        <input type="date" id="startDate" name="startDate" autofocus>
        <label for="endDate">Slutdato</label>
        <input type="date" id="endDate" name="endDate" autofocus>
        <button onclick="location.href='/createleasesuccess'">Submit</button>

    </form>
</div>
</body>
</html>