<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
    <span th:text="${username.getUserName()}"></span>
    <span>' | Database kilde : </span>
    <span th:text="${source}"></span><
    <span th:replace="fragments/login"></span>
</div>
    <br>
<h2 class="center">Velkommen til Carport(al): Bilabonnement A/S databasesystem v1.0</h2>
<div class="box">
    <h3>Log venligst ind her</h3>
    <form name="form" id="sign_in" action="/index" method="POST">

        <label for="username">Brugernavn</label><br>
        <input type="text" id="username" name="username" autocomplete="off" autofocus/>
        <br><br>

        <label for="password">Kodeord</label><br>
        <input type="password" id="password" name="password" autocomplete="off"/>
        <br><br>

        <div>
            <button id="resetButton" type="button" onclick="resetForm()">Nulstil formular</button>
            <button id="submitButton" type="submit" onclick="location.href='../mainpage'">Login</button>
        </div>

    </form>

    <script th:inline="javascript">

        disableEnter("username");
        disableEnter("password");

        function disableEnter(id) {
            let el = document.getElementById(id);
            el.addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        }

        function resetForm() {
            document.form.username.value = "";
            document.form.password.value = "";
        }
    </script>
</div>
<div class="footer">
    <p th:replace="fragments/footer"></p>
</div>
</body>
</html>