<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Failed login</title>
  <link rel="stylesheet" th:href="@{css/faillogin.css}">
  <link rel="stylesheet" th:href="@{css/navbar.css}">
  <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<div><br><br><br>
  <h3>Login mislykkedes. Prøv venligst igen</h3>
  <button onclick="location.href='/login'">Return to sign in</button>

  <footer th:replace="fragments/footer"></footer>

</div>
</body>
</html>