<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hovedside</title>
</head>
<body>
<h3>Velkommen '<span th:text="${sessionUser.getUserName()}"></spanth:text></span>'</h3>
<button type="submit" onclick="location.href='../chooselease'">Opret tilstands report</button>
<button type="submit" onclick="location.href='../createlease'">Opret abonnement</button>
<button type="submit" onclick="location.href='../viewmonthlyincome'">Se statistiker</button>
<button type="submit" onclick="location.href='../'">Log ud</button>
</body>
</html>