<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hovedside</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body class="wheel">
<h3>Velkommen '<span th:text="${sessionUser.getUserName()}"></spanth:text></span>'</h3>
<button class="a" type="submit" onclick="location.href='../chooselease'">Opret skadesreport</button>
<button class="b" type="submit" onclick="location.href='../createlease'">Opret abonnement</button>
<button class="c" type="submit" onclick="location.href='../viewmonthlyincome'">Se statistikker</button>
<button class="d" type="submit" onclick="location.href='../viewstock'">Se lagerbeholdning</button>
<button class="e" type="submit" onclick="location.href='../'">Log ud</button>

<div class="footer">
    <p th:replace="fragments/footer"></p>
</div>

</body>
</html>