<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VisMånedligIndtjening</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
<style>
    .right {
        text-align: right;
    }
</style>
</head>
<body>
<h3>Forventet månedlig indtjening</h3>

<p>Der er <span th:text="${numberOfLeasedCars}"></span> udlejet biler med total pris <span th:text="${totalPrice}"></span> DKK.</p>

<h3>Åbne leases</h3>
<div>
    <table style="width:90%">
        <tr>
            <td><h4>Lease ID</h4></td>
            <td><h4>Start dato</h4></td>
            <td><h4>Slut dato</h4></td>
            <td><h4>Vogn ID</h4></td>
            <td><h4>Make</h4></td>
            <td><h4>Model</h4></td>
            <td><h4>Farve</h4></td>
            <td class="right"><h4>Pris</h4></td>
        </tr>
        <tr th:each="stat : ${statistics}">
            <td th:text="${stat.getLease().getLeaseID()}"></td>
            <td th:text="${stat.getLease.getStartDate()}"></td>
            <td th:text="${stat.getLease.getEndDate()}"></td>
            <td th:text="${stat.getCar().getCarID()}"></td>
            <td th:text="${stat.getCar().getMake()}"></td>
            <td th:text="${stat.getCar().getModel()}"></td>
            <td th:text="${stat.getCar().getColour()}"></td>
            <td class="right" th:text="${stat.getLease.getPrice()}"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="right" th:text="${totalPrice}"></td>
        </tr>
    </table>
</div>
</body>
</html>