<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
    <title>View Stock</title>
</head>
<body>
<div class="navbar" th:insert="fragments/navbar :: navbar(~{::span})">
    <span th:text="${username.getUserName()}"></span>
    <span>' | Database kilde : </span>
    <span th:text="${source}"></span><
    <span th:replace="fragments/buttons">
    </span>
</div>
<br><br>

<div>
    <div class="stock" style="width: 48%; float: left;">
        <h2>Udlejede biler</h2>
        <table style="width:90%">
            <tr>
                <td><h4>Mærke</h4></td>
                <td><h4>Model</h4></td>
                <td><h4>Farve</h4></td>
            </tr>
            <tr th:each="car : ${leased}">
                <td th:text="${car.getMake()}"></td>
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getColour()}"></td>
            </tr>
        </table>
    </div>
    <div class="stock" style="width: 48%; float: right;">
        <h2>Available cars</h2>
        <table style="width:90%">
            <tr>
                <td><h4>Mærke</h4></td>
                <td><h4>Model</h4></td>
                <td><h4>Farve</h4></td>
            </tr>
            <tr th:each="car : ${available}">
                <td th:text="${car.getMake()}"></td>
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getColour()}"></td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <p th:replace="fragments/footer"></p>
    </div>

</div>
</body>
</html>